{% extends 'base.html' %}

{% block content %}
    {% if request.user.id == post.user.id %}
        <a href="{% url 'delete_page' post.id %}" ><button style="background-color: red;color: white; padding: 16px; border-radius: 12px; font-size: 18px;">delete</button></a>
        <a href="{% url 'update_page' post.id %}" ><button style="background-color: rgb(21, 94, 12);color: white; padding: 16px; border-radius: 12px; font-size: 18px;">update</button></a>

    {% endif %}
    <p style="background-color: blue; color: white; font-size: 24px; display:block; padding: 20px;"> this article haas writen by {{post.user}} at {{post.update|date:"Y-M-H"}} </p>
    <p style="background-color: green; color: white; font-size: 40px; padding: 20px;"> {{post.body}} </p><hr>


    <h3 style="margin: 20px;"> you have {{comments.count}} comment </h3>

    {% if request.user.is_authenticated %}
    <a href="{% url 'like_page' post.id %}"><button style="background: blue; color: white; padding: 12px 30px; border-radius: 12px;margin: 20px 50px;"> {{ post.likes_count }} Like</button></a>


        <form action="" method="post" >
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="send">

        </form>

    {% else %}

        <p>you have to login first</p>

    {% endif %}

    {% for comment in comments %}

    <main style="margin: 20px; background-color: rgb(87, 87, 87); color: white; padding: 30px;">
        <h2> {{comment.user}} | {{comment.created| timesince }} </h2>
        <p> {{comment.body}} </p>


        {% if request.user.is_authenticated %}



        <form action="{% url 'reply_page' post.id comment.id %}" method="post" style="width: 90%;">
            {% csrf_token %}
            {{reply_form.as_p}}
            <input type="submit" value="send" style="padding: 14px;">
        </form>

        {% endif %}
        {% with replies=comment.rcomments.all  %}
        {% for reply in replies %}

        <h3 style="background-color: rgb(0, 63, 63); color: white; padding: 20px;"> {{reply.user}} | {{comment.created| timesince }} <br> {{reply.body}} </h3>

        {% endfor %}
        {% endwith %}

    </main>

    {% empty %}

    <h1>no comment yet</h1>

    {% endfor %}




{% endblock %}