{% extends 'base.html' %}

{% block content %}

<style>

    body{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
    }
    form{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 35px;
        height: 200px;
        width: 300px;
        border: 1px solid;
        border-radius: 12px;
       
     
    }

    input{
        width: 300px;
        height: 35px;
        
    }
</style>

<form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="send"  style="width: 300px; height: 30px; background-color: green; color: white; ">
</form>

{% endblock %}